<div class="row-fluid sortable">
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2><i class="icon-file"></i> Coding GE Chart </h2>
			<ul>
				<li style="float:right; margin-right:110px; margin-top:4px; font-size:13px;">
					<div ng-if="user.remWorkload"> Remaining Work Load </div>
				</li>
				<li style="float:right; margin-right:-263px; margin-top:3px; font-size:13px;">
					<div ng-if="user.remWorkload" class="rectangle" >{{user.remWorkload}} EM </div>
				</li>
		    </ul>
		</div>
		<div class="box-content">
			<!-- Nav tabs -->
          	<ul class="nav nav-tabs">
              <li id="coding-tab" class="active"><a data-target="#codingChart" data-toggle="tab" accesskey="c">Coding</a></li>
              <li id="history-tab"><a data-target="#history" data-toggle="tab" >History</a></li>
              <li style="margin-top:10px; margin-left:50px;"><span>Task Details:<a ng-click="showTaskDetails();">show</a> <a ng-click="hideTaskDetails();">hide</a></span></li>
              <li>
				<div ng-if="showTimer" class="CSS_Table_Example" style="margin-left:500px; margin-top:-9px;"> 
					<table>
						<thead> 
						<tr>
							<th>Hours</th>
							<th>Minutes</th>
							<th>Seconds</th>
						</tr>
						</thead>
						<tbody> 
							<tr>
								<td><timer start-time='startTime' interval="1000"> {{hhours}}  </timer></td>
								<td><timer start-time='startTime' interval="1000"> {{mminutes}}  </timer></td>
								<td><timer start-time='startTime' interval="1000"> {{sseconds}} </timer></td>
							</tr>
						</tbody>
					</table>
				</div>
			  </li>
          	</ul>
          	<div class="tab-content">
          	  <div class="tab-pane active" id="codingChart">
          	      <form class="form-horizontal" ng-submit="submit()">
					<fieldset ng-show="dispalyTaskDetails" class="fieldsetClass">
					  <legend>Task Details</legend>
					  <div class="fieldset-control-group">
						  <div class="inline">
							<label class="control-label">Client Name</label> 
							<div class="controls">
								<input class="input-large" type="text" name="clientName" value="{{chartDetail.client}}" disabled>
							</div>
						  </div>			
						  <div class="inline">
							<label class="control-label">Chart Type</label>
							<div class="controls">
							  <input class="input-large" type="text" name="chartType" value="{{chartDetail.chartType}}" disabled>
							</div>
						  </div>
						  <div class="inline">
							<label class="control-label">Chart Specialization</label>
							<div class="controls">
							  <input class="input-large" type="text" name="specialization" value="{{chartDetail.specilization}}" disabled>
							</div>
						  </div>
						  <div class="inline">
							<label class="control-label">Account/MR Number</label>
							<div class="controls">
							  <input class="input-large" type="text" name="account" value="{{chartDetail.accountNumber}} {{chartDetail.mrNumber}}" disabled>
							</div>
						  </div>						
						  <div class="inline">
							<label class="control-label">TAT</label>
							<div class="controls">
							  <input class="input-large uneditable-input" name="tat" type="text" value="{{chartDetail.tat}}" disabled>
							</div>
						  </div>						
						  <div class="inline">
							<label class="control-label">LOS</label>
							<div class="controls">
							  <input class="input-large uneditable-input" name="los" type="text" value="{{chartDetail.los}}" disabled>
							</div>
						 </div>
						 <div class="inline">
							<label class="control-label">EM</label>
							<div class="controls">
							  <input class="input-large uneditable-input" name="em" type="text" value="{{chartDetail.em}}" readonly/>
							</div>
						</div>
						<div class="inline">
							<label class="control-label">Discharge Date</label>
							<div class="controls">
							  <input class="input-medium uneditable-input" name="dischargeDate" type="text" value="{{chartDetail.dischargeDate}}" readonly/>
							</div>
						</div>
						<div class="inline">
							<label class="control-label">Patient Name</label>
							<div class="controls">
							  <input class="input-medium uneditable-input" name="patientName" type="text" value="{{chartDetail.patientName}}" readonly/>
							</div>
						</div>															
						<div class="inline">
							<font color="red"><b><i><label class="control-label">Task Assigned Time</label></i></b></font>
							<div class="controls">
							  <font color="red"><b><input class="input-large uneditable-input" name="taskAssignedTime" type="text" value="{{chartDetail.taskAssignedTime}}" readonly/></b></font>
							</div>
						</div>
					  </div>
					</fieldset>
					<fieldset style="height:350px;overflow:auto;">
					  <div class="control-group">
						<div class="inline">
							<label class="control-label">Insurance</label>
							<div class="controls">
								<select class="select-style-box" ng-model="ipChart.insurance" ng-options = "c.value as c.name for c in insuranceOptions"  
								 ng-change="displayInsuranceBox();" ng-required="true"  >
									<option value="">--Select--</option>
								</select>
							</div>
							<!-- Checkboxes (inline) -->
							<div ng-if="insuranceOtherReq" class="control-group">
							  <div class="controls" >
							  	<input class="input-large focused" id="insuranceOther" name="insuranceOther" type="text" ng-model="ipChart.insuranceOther" />
							  </div>	
							</div>
						</div>
					  </div>
					  <div class="control-group inline">
						<label class="control-label">Patient Name</label>
						<div class="controls">
							<input class="input-large focused" id="patientName" name="patientName" type="text" ng-model="ipChart.patientName" required  />						  
						</div>
					  </div>
					  <div class="control-group inline">
						<label class="control-label">Admit Date</label>
						<div class="controls">
							<input class="input-large focused" id="admit" name="admit" type="text" ng-model="ipChart.admit" required  />						  
						</div>
					  </div>
					  <div class="control-group inline">
						<label class="control-label">D/C</label>
						<div class="controls">
							<input class="input-large focused" id="dc" name="dc" type="text" ng-model="ipChart.dc" required  />						  
						</div>
					  </div>
					  <div class="control-group inline" id="dosBoxGroup">
						<label class="control-label">DOS</label>
						<div class="controls" id="dos">
						  <li ng-repeat="dos in ipChart.dos"> 
							<input class="input-large focused" id="dos" name="dos" type="text" ng-model="dos.value" required  />
						  </li>
						</div>
					  </div>
					  <div class="control-group inline">
						<label class="control-label">LOC</label>
						<div class="controls">
							<input class="input-large focused" id="loc" name="loc" type="text" ng-model="ipChart.loc" required  />						  
						</div>
					  </div>
					  <div class="control-group inline">
						<label class="control-label">I/O</label>
						<div class="controls">
							<input class="input-large focused" id="io" name="io" type="text" ng-model="ipChart.io" required  />						  
						</div>
					  </div>
					  <div class="control-group inline">
						<label class="control-label">MD</label>
						<div class="controls">
							<input class="input-large focused" id="md" name="md" type="text" ng-model="ipChart.md" required  />						  
						</div>
					  </div>
					  <div class="control-group inline">
						<label class="control-label">Extender</label>
						<div class="controls">
							<input class="input-large focused" id="extender" name="extender" type="text" ng-model="ipChart.extender" required  />						  
						</div>
					  </div>
					  <div class="control-group inline">
						<label class="control-label">Ref. MD</label>
						<div class="controls">
							<input class="input-large focused" id="refmd" name="refmd" type="text" ng-model="ipChart.refmd" required  />						  
						</div>
					  </div>
					  <div class="control-group inline">
						<label class="control-label">MD CPT</label>
						<div class="controls">
							<input class="input-large focused" id="mdCpt" name="mdCpt" type="text" ng-model="ipChart.mdCpt" required  />						  
						</div>
					  </div>
					  
					  <div class="control-group" id="cptBoxGroup">
						<table class="table codingtable" style="width:75%; margin-left:92px;">
							<thead>
							  <tr>
								<th>CPT</th>
								<th>MOD</th>
								<th>DX</th>
								<th></th>
							  </tr>
							</thead>
							<tbody>
								<tr ng-repeat="cptg in ipChart.geCptGroup">
									<td ng-repeat="cpt in cptg.cpt">
										<input class="mcws-input-small focused" id="cpt" name="cpt" ng-model="cpt.value" type="text" required  />
									</td>
									<td ng-repeat="mod in cptg.mod">
										<input class="mcws-input-small focused" id="mod" name="mod" ng-model="mod.value" type="text" required  />
									</td>
									<td ng-repeat="dx in cptg.dx">
										<input class="mcws-input-small focused" id="dx" name="dx" ng-model="dx.value" type="text" required  />
									</td>
									<td>
							 			<input type="button" value="+"  class="btn btn-primary" ng-click="addGECPTGroupRow($index)" />
							 			<input type="button" value="-"  class="btn btn-primary" ng-click="removeGECPTGroupRow($index)" />
								  	</td>
								</tr>
							</tbody>
						</table>
					</div>
					
				  	<div class="control-group">
						<label class="control-label" for="selectError">Status</label>
						<div class="controls">
							<select class="select-style-box" id="status" name="status" data-rel="chosen" ng-options = "opn for opn in options" 
								ng-model="ipChart.status" ng-required="true"  >
								<option value="">--Select--</option>
							</select>
						</div>
				  	</div>	
				  	<div class="control-group">
						<label class="control-label">Comments</label>
						<div class="controls">
							<textarea id="comment" name="comment" class="focused form-control" rows="3" style="width: 348px;"
								 ng-model="ipChart.comments" ng-required="true"  ></textarea>
						</div>
				  	</div>
				  	<div class="control-group">
						<label class="control-label">Additional Information</label>
						<div class="controls">
							 <li ng-repeat="account in ipChart.account">
							 	<input class="input-large focused" id="account" name="account" type="text" ng-model="account.value"/>	
							 	<input type='button' value='+' id='accAddButton' class="btn btn-primary" ng-click="addNewRow('account', $index)"  >
								<input type='button' value='-' id='accRemoveButton' class="btn btn-primary" ng-click="removeRow('account', $index)"  >
							 </li>					 
						</div>
					  </div>
				  </fieldset>
				  <fieldset>
						<div class="form-actions clearBoth">
							<button id="submit_button" type="submit" class="btn btn-primary" >Submit</button>
							<button id="save_button" type="button" class="btn btn-success" accesskey="s"
							ng-click="saveCodingForm()">Save</button>
							<button id="cancel_button" type="button" ng-click="Cancel()" class="btn btn-default">Cancel</button>
						</div>
				  </fieldset>
			  	</form>
          	   </div><!-- codingChart div -->
          	   <div class="tab-pane" id="history">
	              <form class="form-horizontal">
					<fieldset ng-show="dispalyTaskDetails" class="fieldsetClass">
					  <legend>Task Details</legend>
					  <div class="fieldset-control-group">
						  <div class="inline">
							<label class="control-label">Client Name</label> 
							<div class="controls">
								<input class="input-large" type="text" name="clientName" value="{{chartDetail.client}}" disabled>
							</div>
						  </div>			
						  <div class="inline">
							<label class="control-label">Chart Type</label>
							<div class="controls">
							  <input class="input-large" type="text" name="chartType" value="{{chartDetail.chartType}}" disabled>
							</div>
						  </div>
						  <div class="inline">
							<label class="control-label">Chart Specialization</label>
							<div class="controls">
							  <input class="input-large" type="text" name="specialization" value="{{chartDetail.specilization}}" disabled>
							</div>
						  </div>
						  <div class="inline">
							<label class="control-label">Account/MR Number</label>
							<div class="controls">
							  <input class="input-large" type="text" name="account" value="{{chartDetail.accountNumber}} {{chartDetail.mrNumber}}" disabled>
							</div>
						  </div>						
						  <div class="inline">
							<label class="control-label">TAT</label>
							<div class="controls">
							  <input class="input-large uneditable-input" name="tat" type="text" value="{{chartDetail.tat}}" disabled>
							</div>
						  </div>						
						  <div class="inline">
							<label class="control-label">LOS</label>
							<div class="controls">
							  <input class="input-large uneditable-input" name="los" type="text" value="{{chartDetail.los}}" disabled>
							</div>
						 </div>
						 <div class="inline">
							<label class="control-label">EM</label>
							<div class="controls">
							  <input class="input-large uneditable-input" name="em" type="text" value="{{chartDetail.em}}" readonly/>
							</div>
						</div>
						<div class="inline">
							<label class="control-label">Discharge Date</label>
							<div class="controls">
							  <input class="input-medium uneditable-input" name="dischargeDate" type="text" value="{{chartDetail.dischargeDate}}" readonly/>
							</div>
						</div>
						<div class="inline">
							<label class="control-label">Patient Name</label>
							<div class="controls">
							  <input class="input-medium uneditable-input" name="patientName" type="text" value="{{chartDetail.patientName}}" readonly/>
							</div>
						</div>															
						<div class="inline">
							<font color="red"><b><i><label class="control-label">Task Assigned Time</label></i></b></font>
							<div class="controls">
							  <font color="red"><b><input class="input-large uneditable-input" name="taskAssignedTime" type="text" value="{{chartDetail.taskAssignedTime}}" readonly/></b></font>
							</div>
						</div>
					  </div>
					</fieldset>
					<fieldset>
						<table class="table table-striped table-bordered bootstrap-datatable datatable">
							<thead> 
							  <tr>
						    	<th scope="row">Coder/QA</th>
						    	<th scope="row">Status</th>
						    	<th scope="row">Comments</th>
						    	<th scope="row">Action</th>
						      </tr>
						  	</thead>
						  	<tbody ng-repeat="taskDetail in taskDetailsHistory | orderBy:'reviewWorkListId'">
							   <tr>
							    <td>{{taskDetail.coderName}}</td>
							  	<td>{{taskDetail.status}}</td>
							  	<td>{{taskDetail.comments}}</td>
							  	<td>
									<a href="javascript:void(0);" ng-click="viewCodingChartHistory(taskDetail.codingData);" >View Coding History</a>
							  	</td>
							  </tr>
						  	</tbody>
						</table>
						<div ng-if="displayChartHistory">
							<form id="historyForm" class="form-horizontal">
							  <fieldset>
								<div class="control-group" id="icdBoxGroup">
								  <table class="table codehistorytable">
									<thead>
									</thead>
									<tbody>
										<tr>
										  	<th>Insurance</th>
										  	<th>Patient Name</th>
										  	<th>Admit Date</th>
									  	</tr>
										<tr>
										  <td>
										  	<select class="select-style-box" ng-required="true" ng-disabled="true">
												<option value="">{{chartHistory.insurance}}</option>
											</select>
										 	<div ng-if="insuranceOtherReq" class="clearboth" >
										  		<input class="input-large" type="text" ng-model="chartHistory.insuranceOther" ng-disabled="true"/>
										 	</div>	
										  </td>
										  <td>
											<input class="input-small"  type="text" ng-model="chartHistory.patientName" ng-disabled="true"/>
										  </td>
										  <td>
											<input class="input-small" type="text" ng-model="chartHistory.admit" ng-disabled="true"/>
										  </td>
										 </tr>
										 <tr>
										  	<th>Additional Information</th>
									  	 </tr>
									  	 <tr>
									  	 	<td>
										  		<li ng-repeat="account in chartHistory.account">
										 			<input class="input-large" type="text" ng-model="account.value" ng-disabled="true"/>	
										 		</li>
										  	</td>
									  	 </tr>
										 <tr>
										  	<th>D/C</th>
											<th>DOS</th>
											<th>LOC</th>
											<th>I/O</th>
											<th>MD</th>
											<th>Extender</th>
											<th>Ref. MD</th>
											<th>MD CPT</th>
										 </tr>
										 <tr>
										  <td>
											<input class="input-small" type="text" ng-model="chartHistory.dc" ng-disabled="true"/>
										  </td>
										  <td>
										  	 <li ng-repeat="dos in chartHistory.dos"> 
												<input class="input-small" type="text" ng-model="dos.value" ng-disabled="true"/>
											 </li>
										  </td>
										  <td>
											<input class="input-small" type="text" ng-model="chartHistory.loc" ng-disabled="true"/>
										  </td>
										  <td>
											<input class="input-small" type="text" ng-model="chartHistory.io" ng-disabled="true"/>
										  </td>
										  <td>
											<input class="input-small" type="text" ng-model="chartHistory.md" ng-disabled="true"/>
										  </td>
										  <td>
											<input class="input-small" type="text" ng-model="chartHistory.extender" ng-disabled="true"/>
										  </td>
										  <td>
											<input class="input-small" type="text" ng-model="chartHistory.refmd" ng-disabled="true"/>
										  </td>
										  <td>
											<input class="input-small" type="text" ng-model="chartHistory.mdCpt" ng-disabled="true"/>
										  </td>
										</tr>
										<tr>
											<th>CPT</th>
											<th>MOD</th>
											<th>DX</th>
										</tr>
										<tr ng-repeat="cptg in chartHistory.geCptGroup">
											<td ng-repeat="cpt in cptg.cpt">
												<input class="mcws-input-small focused" type="text" ng-model="cpt.value" ng-disabled="true"/>
										 	</td>
										  	<td  ng-repeat="mod in cptg.mod">
											  	<input class="input-small" type="text" ng-model="mod.value" ng-disabled="true"/>
										  	</td>
										  	<td ng-repeat="dx in cptg.dx">
											  	<input class="input-small" type="text" ng-model="dx.value" ng-disabled="true"/>
										  	</td>
										</tr>
									</tbody>
								  </table>
							    </div>
							  </fieldset>
	  						</form>
						</div><!-- displayChartCodeHistory -->
					</fieldset><!-- clear both -->
				  </form>
              </div><!-- history Div -->
          	</div><!-- tab-content div -->
		</div><!-- box-content -->
	</div><!--/span-->
</div><!-- row-fluid sortable -->