<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
		<mapping class="com.eclat.mcws.persistence.entity.Users" />
		<mapping class="com.eclat.mcws.persistence.entity.UserRole" />
		<mapping class="com.eclat.mcws.persistence.entity.Coders" />
			
		<mapping class="com.eclat.mcws.persistence.entity.UserCharts" />
		<mapping class="com.eclat.mcws.persistence.entity.UsersClient" />
		<mapping class="com.eclat.mcws.persistence.entity.ChartSpecilization" />
		<mapping class="com.eclat.mcws.persistence.entity.ClientDetails" />
		<mapping class="com.eclat.mcws.persistence.entity.ReviewWorklist" />
		<mapping class="com.eclat.mcws.persistence.entity.WorkListItem" />
		<mapping class="com.eclat.mcws.persistence.entity.GradingSheet" />
		<mapping class="com.eclat.mcws.persistence.entity.WeightageMaster" />
		<mapping class="com.eclat.mcws.persistence.entity.AuditLog" />
		<mapping class="com.eclat.mcws.persistence.entity.AuditLogDetails" />
		<mapping class="com.eclat.mcws.persistence.entity.ClientChartMapping"/>
		<mapping class="com.eclat.mcws.persistence.entity.ChartType" />
		
    </session-factory>
</hibernate-configuration>