<div class="row-fluid sortable" ng-init="init();">
	<div class="box span12">
		<div class="box-header well" data-original-title>
			<h2>
				<i class="icon-file"></i> Delete Worklist Data
			</h2>
			<div class="box-icon">
				<div id="quotescointainer">
					<div id="quotesleft" style="width:60%;">
						<div class='input-group leftAlign' style="top:0px;">
						 	<div class="inline" style="margin-right:10px; margin-top:6px;">
						 		<p> From : </p>
						 	</div>
							<div class='input-group input-group-pos  inline' id='datetimepicker' 
								style="width: 205px; height: 30px; top:0px;">
								<input type="text" name="input" class="form-control" ng-model="selectDate" />
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-time"></span>
								</span>
							</div>
						</div>	
					</div>
					<div id="quotescenter" style="width:40%;">
						<form  ng-submit="search();">
							<div class="input-append">
								<input id="task-search-client" type="text" ng-model="query" class="input-medium search-query" 
								placeholder="Search Account No">
								<button id="task-search-client-button" type="submit" class="btn">
								  <i class="icon-search"></i>
								</button>
							</div>
						</form>
					</div>
				</div>
				<div class="entrySelectDiv" style="margin-top:-45px;">
					<span>View</span>
					<select ng-model="itemsPerPage"  ng-change = "groupToPages()" style="width:55px;">
							<option value="5"> 5 </option>
							<option value="10"> 10 </option>
							<option value="15"> 15 </option>
					</select>
					<span>items</span>	
				</div>
			</div>
		</div>
		<div class="box-content">
			<form class="form-search" style="margin-top:15px;">
				<div class='input-group inlinePosition' style="position: relative; top: 0px;">
					<div class="input-append leftAlign">
						<select class="select-style-box"  ng-options = "c.name as c.name for c in clients" 
						ng-model = "queryClient"  ng-change = "search()">
							<option value=""> Filter By Client </option>
						</select>
					</div>
					<div class="input-append leftAlign">
						<select class="select-style-box"  ng-options = "cs.text as cs.text for cs in chartTypes" 
						ng-model = "queryChartType"  ng-change = "search()" style="width: 155px;">
							<option value=""> Filter By chartType </option>
						</select>
					</div>
					<div class="input-append leftAlign">
						<select class="select-style-box"  ng-options = "spl.chartSpelization as spl.chartSpelization for spl in chartSpls" 
						ng-model = "queryChartSpl"  ng-change = "search()" style="width: 175px;">
							<option value=""> Filter By Specialization </option>
						</select>
					</div>
					<div class="input-append leftAlign">
						<select class="select-style-box"  ng-options = "cs for cs in chartsStatus" 
						ng-model = "queryStatus"  ng-change = "search()">
							<option value=""> Filter By Status </option>
						</select>
					</div>
					<button id="user-search-reset-button"
					ng-click="queryClient=''; queryStatus=''; queryChartType=''; queryChartSpl=''; loadspecialization(); search(); "
					ng-disabled="!queryStatus && !queryClient && !queryChartType && !queryChartSpl" type="submit"
					class="btn leftAlign">Reset</button>
				</div>
				<div class="rightAlign">
						<a class="btn btn-danger" ng-click="deleteChart();">
							<i class="icon-trash icon-white"></i>Delete
						</a>
				</div>
			</form>
			
			<table id="monitor-task-table"
				class="table table-striped table-bordered" style="margin-top:65px;">
				<thead>
					<tr>
						<th id="accountNumber-id">
							<a	ng-click="predicate = 'accountNumber'; sort_by('accountNumber')"> Account / MR No&nbsp;
							  <span ng-show="predicate == 'accountNumber'">
							    <span ng-show="!reverse"><i class="icon-chevron-up"></i></span>
							    <span ng-show="reverse"><i class="icon-chevron-down"></i></span>
							  </span>
							</a>
						</th>
						<th id="client">
							<a	ng-click="predicate = 'client'; sort_by('client')"> Client&nbsp;
							  <span ng-show="predicate == 'client'">
							    <span ng-show="!reverse"><i class="icon-chevron-up"></i></span>
							    <span ng-show="reverse"><i class="icon-chevron-down"></i></span>
							  </span>
							</a>
						</th>
						<th id="chart-type">
							<a	ng-click="predicate = 'chartType'; sort_by('chartType')"> Chart Type&nbsp;
							  <span ng-show="predicate == 'chartType'">
							    <span ng-show="!reverse"><i class="icon-chevron-up"></i></span>
							    <span ng-show="reverse"><i class="icon-chevron-down"></i></span>
							  </span>
							</a>
						</th>
						<th id="chart-spel">
							<a	ng-click="predicate = 'specilization'; sort_by('specilization')"> Specialization&nbsp;
							  <span ng-show="predicate == 'specilization'">
							    <span ng-show="!reverse"><i class="icon-chevron-up"></i></span>
							    <span ng-show="reverse"><i class="icon-chevron-down"></i></span>
							  </span>
							</a>
						</th>
						<th id="tat">
							<a	ng-click="predicate = 'tat'; sort_by('tat')"> TAT&nbsp;
							  <span ng-show="predicate == 'tat'">
							    <span ng-show="!reverse"><i class="icon-chevron-up"></i></span>
							    <span ng-show="reverse"><i class="icon-chevron-down"></i></span>
							  </span>
							</a>
						</th>
						<th id="los">
							<a	ng-click="predicate = 'los'; sort_by('los')"> LOS&nbsp;
							  <span ng-show="predicate == 'los'">
							    <span ng-show="!reverse"><i class="icon-chevron-up"></i></span>
							    <span ng-show="reverse"><i class="icon-chevron-down"></i></span>
							  </span>
							</a>
						</th>
						<th id="em">
							<a	ng-click="predicate = 'em'; sort_by('em')"> EM&nbsp;
							  <span ng-show="predicate == 'em'">
							    <span ng-show="!reverse"><i class="icon-chevron-up"></i></span>
							    <span ng-show="reverse"><i class="icon-chevron-down"></i></span>
							  </span>
							</a>
						</th> 
						<th id="status">
							<a	ng-click="predicate = 'status'; sort_by('status')"> Status&nbsp;
							  <span ng-show="predicate == 'status'">
							    <span ng-show="!reverse"><i class="icon-chevron-up"></i></span>
							    <span ng-show="reverse"><i class="icon-chevron-down"></i></span>
							  </span>
							</a>
						</th>
						<th id="receivedDate">
							<a	ng-click="predicate = 'receivedDate'; sort_by('receivedDate')"> Received Date&nbsp;
							  <span ng-show="predicate == 'receivedDate'">
							    <span ng-show="!reverse"><i class="icon-chevron-up"></i></span>
							    <span ng-show="reverse"><i class="icon-chevron-down"></i></span>
							  </span>
							</a>
						</th>
						<th id="updateDate">
							<a	ng-click="predicate = 'updateDate'; sort_by('updateDate')"> Updated Date&nbsp;
							  <span ng-show="predicate == 'updateDate'">
							    <span ng-show="!reverse"><i class="icon-chevron-up"></i></span>
							    <span ng-show="reverse"><i class="icon-chevron-down"></i></span>
							  </span>
							</a>
						</th>
						<th id="action">
							<input type="checkbox" ng-model="selectedAll" ng-change="checkAll()" /> All
						</th>
					</tr>
				</thead>
				<tbody>
					<tr
						ng-repeat="task in  pagedItems[currentPage] | orderBy:predicate:reverse">
						<td class="center">{{task.accountNumber}} {{task.mrNumber}}</td>
						<td class="center">{{task.client}}</td>
						<td class="center">{{task.chartType}}</td>
						<td class="center">{{task.specilization}}</td>
						<td class="center">{{task.tat}}</td>
						<td class="center">{{task.los}}</td>
						<td class="center">{{task.em}}</td>
						<td class="center">
							<span class="{{task.spanClass}}">
								{{task.status}} 
							</span>
						</td>
						<td class="center">{{ task.receivedDate }}</td>
						<td class="center">{{ task.updateDate }}</td>		
						<td style="white-space: normal">
						 	<label class="checkbox">
		            			<input type="checkbox" ng-model="task.Selected" />
		        			</label>
						</td>
					</tr>
				</tbody>

			</table>

			<div id="pagination-mt-div-id" class="pagination pagination-right">
				<pagination total-items="bigTotalItems" page="bigCurrentPage"
					max-size="maxSize" items-per-page="itemsPerPage" class="pagination-sm" boundary-links="true"
					rotate="false" num-pages="numPages" ng-click="setPage()"></pagination>

				<!-- pre>Page: {{bigCurrentPage}} / {{numPages}}</pre-->
			</div>


		</div>
		<!-- box-content -->
	</div>
	<!--/span-->
</div>